.post-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-content {
  ul, ol {
    margin-left: 2rem;
  }

  blockquote {
    border-left: 1px solid var(--text-color);
    padding-left: 1rem;
  }

  img {
    border: var(--default-border);
    margin-top: 1rem;
  }
}
